# Database Configuration
POSTGRES_USER=niyyah
POSTGRES_PASSWORD=niyyah
POSTGRES_DB=niyyah

# Application Configuration
WWW_NIYYAH_SE_ORIGIN=http://localhost:8050

# App Niyyah SE Configuration
APP_NIYYAH_SE_ORIGIN=http://localhost:8020
APP_NIYYAH_SE_AUTH_SECRET=dev-secret-change-in-production-use-openssl-rand-base64-32
APP_NIYYAH_SE_SMTP_HOST=mailpit
APP_NIYYAH_SE_SMTP_PORT=1025
APP_NIYYAH_SE_SMTP_SECURE=false
APP_NIYYAH_SE_SMTP_USER=username
APP_NIYYAH_SE_SMTP_PASS=password
APP_NIYYAH_SE_SMTP_FROM=noreply@niyyah.se
APP_NIYYAH_SE_LINK_EXPIRY=600
