@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: false;
	root: ':root';
	logs: false;
}

@theme {
	--color-primary: #003d6b;
	--color-secondary: #d4af37;
	--color-background: #ffffff;
	--color-text: #1a1a1a;
	--color-subtle-text: #666666;
	--color-footer-bg: #002147;
	--color-border: #e0e0e0;
}
