@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: false;
	root: ':root';
	logs: false;
}

@theme {
	--color-primary: #004b87;
	--color-secondary: #ffd700;
	--color-background-light: #f8f9fa;
	--color-background-dark: #101418;
	--color-text-light: #333333;
	--color-text-dark: #eaeaea;
	--color-subtle-text-light: #555555;
	--color-subtle-text-dark: #a0a0a0;
	--color-footer-bg: #1a2b34;
	--color-accent-green: #17cf54;
}
